body {
    background-image: linear-gradient(to top, rgb(0, 22, 24), rgb(50, 50, 100));
}

.scoreboard {
    width: 600px;
}

.scoreboard > div {
    padding: 10px 50px;
}

.row > div {
    width: 150px;
    height: 150px;
}

.control-game {
    width: 600px;
}